body {
  font-family: "Times New Roman", Times, serif;
}
.colourpage {
  border-color: #12a3b8;
}
#pageoutline {
  max-width: 600px;
  max-height: 750px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  background-color: #d7eaed;
  border-radius: 5px;
  border-color: #12a3b8;
}
.search {
  color: #12a3b8;
  font-size: 25px;
  position: relative;
  top: 35px;
  left: 540px;
}
/* ? why border-color is not working */
#formsearch {
  padding-left: 0;
  padding-right: 0;
}
.citySearch {
  text-align: left;
  position: relative;
  left: 242px;
  top: -38px;
}
.searchlocation {
  text-align: left;
  position: relative;
  top: -76px;
  left: 350px;
}
.tempratureChanges {
  position: relative;
  left: 65px;
  top: 5px;
  font-size: 40px;
}
.tempratureChanges .active {
  color: black;
  cursor: default;
}
.tempratureChanges .active:hover {
  text-decoration: none;
}
.description {
  text-transform: capitalize;
}
.tempconversion {
  font-size: 18px;
  position: relative;
  top: -12px;
}
/* #celsius-link {
  font-size: 15px;
}
#fahrenheit-link {
  font-size: 25px;
} */
#icon {
  position: relative;
  left: -10px;
  top: -280px;
}
#weatherdate {
  text-align: center;
  position: relative;
  top: -166px;
  left: 427px;
}
#weatherstats {
  position: relative;
  top: -369px;
  left: 204px;
  font-size: 18px;
  text-align: left;
  color: #12a3b8;
}
hr {
  background-color: #12a3b8;
}
.pagedivideone {
  position: relative;
  top: -260px;
  display: block;
  margin: 0 auto;
}
#tpw {
  position: relative;
  top: -250px;
  display: block;
  margin: 0 auto;
  padding: 0;
}
li {
  display: inline;
  font-size: 20px;
}
.graph {
  position: relative;
  top: -220px;
}
.pagedividetwo {
  position: relative;
  top: -130px;
  display: block;
  margin: 0 auto;
}
#weatherday {
  position: relative;
  top: -160px;
  font-size: 20px;
}
.weatherlinkline {
  position: relative;
  top: -125px;
  left: -56px;
  width: 460px;
  display: block;
  margin: 0 auto;
}
.weatherwebsite {
  position: relative;
  top: -140px;
  left: 465px;
  font-size: 20px;
}
.githublink {
  text-align: center;
  display: block;
  position: relative;
  top: -125px;
}
